/* Community Banner */

.extContainer {
  flex-direction: column;
}
.extCLeft, .extCRight {
  width: 100%;
  box-sizing: border-box;
}

.extCLeft {
  order: 2;
  background-position: center -70px;
  background-size: 569px;
  background-repeat: no-repeat;
  padding-bottom: calc(100% - 70px); /* trick to show the bg with the correct aspect ratio */
}

.extCRight {
  padding: 37px 30px 38px 30px;

  hr {
    margin: 25px 0px 13px 0px;
  }
  h3 {
    font-size: 35px;
    letter-spacing: -0.402px;
    font-weight: 400;

    .break {
      display: block;
    }
  }

  .sub-wrap .extcJ {
    display: block;
    a {
      display: block;
      font-size: 12.8px;
      font-weight: 400;
      line-height: 150%;
      margin-top: 13px;
      margin-bottom: 13px;
    }
    a.main {
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
    }
  }
}

/* End Community Banner */

/* CTA banner */
.bigBlueFooter {
  h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 42px;
  }
  h2.mobile {
    display: block;
  }
}

.hcLinksbox {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* footer */
.footer-container {
  display: none;
}

.footer-component {
  align-items: initial;
  padding: 32px;
  background: linear-gradient(180deg, #F5F6F8 0%, rgba(245, 246, 248, 0) 67.54%);
  color: #333;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
}

.footer-component .footer-header {
  margin-bottom: 32px;
  display: flex;
}

.footer-component .footer-links {
  width: 100%;
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  align-items: center;
}


.footer-component .footer-links .link {
  margin-bottom: 32px;
  margin-top: 0px;
  width: 100%;
  margin-right: 0px;
}

.footer-component .footer-links .link a {
  font-size: 14px;
  color: #535768;
  transition: 100ms color ease;
  text-decoration: underline;
  font-weight: 300;
}

.footer-component .monday-logo-wrapper {
  margin-top: 0px;
}

.footer-component .contact-info-wrapper {
  text-align: left;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.footer-component .social-proof-wrapper {
  margin-top: 32px;
}

.footer-component .social-proof-wrapper .palette-icons-container {
  margin-top: 0px;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
}

.footer-component .social-proof-wrapper .palette-icons-container .icons-wrapper {
  margin-right: 0px !important;
  width: 200px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px !important;
}

.footer-component .social-media-icon svg {
  height: 24px;
  width: auto;
}


